.post-info.author {
  right: 0;
  bottom: 0;
}

.post-info.langugae {
  right: 0;
  bottom: 0;
}

.post-info {
  position: absolute;
}

.filtterBoox {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 1;
}
