################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/iself/v17/.suo
/.vs/iself
/JsonFlatFileDataStore/bin/Debug
/JsonFlatFileDataStore/obj
/.vs/ProjectEvaluation
/iself/.vscode

/bin
