.header {
  height: 30px;
  color: var(--bs-gray-600);
}
.header .active {
  color: white;
}
.nav-link {
  color: inherit !important;
}
.header .logo {
  float: left;
  width: 50px;
  height: 100%;
  color: white;
}
.ant-layout-header {
  line-height: unset;
  background-color: #3e3f47;
  padding: 0 0;
}
.header .menu-label {
  display: none;
}
.header .anticon {
  font-size: 18px;
}
.nav-link {
  padding: 0 10px;
}
.anticon {
  vertical-align: text-bottom;
}
@media (min-width: 768px) {
  .header .menu-label {
    display: inline-flex;
    margin-left: 3px;
  }
  .header .logo {
    width: 120px;
  }
  .header {
    height: 40px;
  }
}
