.post-info.author {
  right: 0;
  bottom: 0;
}

.post-info.langugae {
  right: 0;
  bottom: 0;
}

.post-info {
  position: absolute;
}

.filtterBoox {
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: 7px;
}

.floating-feedback-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
